<h2>Agregar un nuevo Episodio</h2>

<form>
  <div class="form-group">
      <label for="imagen">Link de la Imagen:</label>
      <input type="text" id="imagen" name="imagen" required>
  </div>
  <div class="form-group">
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" name="titulo" required>
  </div>
  <div class="form-group">
      <label for="numeroEpisodio">Número del Episodio:</label>
      <input type="number" id="numeroEpisodio" name="numeroEpisodio" required>
  </div>
  <div class="form-group">
      <label for="genero">Género:</label>
      <input type="text" id="genero" name="genero" required>
  </div>
  <div class="form-group">
      <label for="fechaPublicacion">Fecha de Publicación:</label>
      <input type="date" id="fechaPublicacion" name="fechaPublicacion" required>
  </div>
  <div class="form-group">
      <input type="submit" value="Enviar">
  </div>
</form>